@model LAPTOP.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Trang chủ - Cửa hàng Laptop Demo";
}

<div class="container main-content-top">
    <div class="hero-banner">
        <img src="images/fhome_slider_item_desk_img5.jpg" alt="Banner Khuyến Mãi">
    </div>

    <div class="side-banners">
        <img src="images/fhome_slider_item_desk_img7.jpg" alt="Side Banner 1">
        <img src="images/fhome_slider_item_desk_img10.jpg" alt="Side Banner 2">
    </div>
</div>

<section class="quick-categories">
    <div class="container">
        <h2>DANH MỤC NỔI BẬT</h2>
        <div class="category-grid">
            <a href="/Home/Dell" class="category-item">
                <img src="~/images/laptop-dell.jpg" />
                <span>Laptop Dell</span>
            </a>
            <a href="#" class="category-item">
                <img src="~/images/laptop-dell.jpg" />
                <span>Laptop Dell</span>
            </a>
            <a href="#" class="category-item">
                <img src="~/images/laptop-dell.jpg" />
                <span>Laptop Asus</span>
            </a>
            <a href="#" class="category-item">
                <img src="~/images/laptop-dell.jpg" />
                <span>Laptop Lenovo</span>
            </a>
            <a href="#" class="category-item">
                <img src="~/images/laptop-dell.jpg" />
                <span>Laptop HP</span>
            </a>
        </div>
    </div>
</section>


<section class="product-section">
    <div class="container">
        <div class="section-header">
            <h2>LAPTOP BÁN CHẠY</h2>
            <div class="section-tabs">
                <a href="#" class="active">Laptop Gaming</a>
                <a href="#">Laptop Văn phòng</a>
                <a href="#">Laptop Đồ họa</a>
            </div>
        </div>

        <div class="product-grid">

            @foreach (var p in Model.HotProducts)
            {
                var percent = 0;
                if (p.Sale_Price < p.Price && p.Price > 0)
                {
                    percent = (int)Math.Round(100 - (p.Sale_Price / p.Price * 100));
                }

                <div class="product-card">
                    <img src="@p.Thumbnail" alt="@p.Name">

                    <div class="product-info">
                        <h3 class="product-title">@p.Name</h3>

                        <div class="product-price">
                            <span class="price-new">@string.Format("{0:N0} ₫", p.Sale_Price)</span><br />
                            <span class="price-old">@string.Format("{0:N0} ₫", p.Price)</span>
                        </div>
                    </div>

                    @if (percent > 0)
                    {
                        <div class="product-badge">-@percent%</div>
                    }
                </div>
            }

        </div>
    </div>
</section>



<section class="product-section">
    <div class="container">
        <div class="section-header">
            <h2>LAPTOP DELL</h2>
            <div class="section-tabs">
                <a href="#" class="active">Laptop Gaming</a>
                <a href="#">Laptop Văn phòng</a>
                <a href="#">Laptop Đồ họa</a>
            </div>
        </div>

        <div class="product-grid">

            @foreach (var p in Model.DellProducts)
            {
                var percent = 0;

                if (p.Sale_Price < p.Price && p.Price > 0)
                {
                    percent = (int)Math.Round(100 - (p.Sale_Price / p.Price * 100));
                }

                <div class="product-card">
                    <img src="@p.Thumbnail" alt="@p.Name">

                    <div class="product-info">
                        <h3 class="product-title">@p.Name</h3>

                        <div class="product-price">
                            <span class="price-new">@string.Format("{0:N0} ₫", p.Sale_Price)</span><br />
                            <span class="price-old">@string.Format("{0:N0} ₫", p.Price)</span>
                        </div>
                    </div>

                    @if (percent > 0)
                    {
                        <div class="product-badge">-@percent%</div>
                    }
                </div>
            }

        </div>
    </div>
</section>
